/* Learn Page */


.learn-content {
  margin: auto;
  margin-top: 50px;
  border: 3px solid black;
  border-radius: 4px;
  box-shadow: 1px 1px gray;
  width: 80%;
  background-color: ivory;
  font-family: 'Roboto', sans-serif;
  opacity: .3;
  transition: 1s;
  font-size: 0rem!important;
}

.learn-content:hover {
  opacity: 1;
  transition: 1s;
  font-size: inherit!important;
  box-shadow: 3px 3px gray;
}

.learn-content:hover .learn-p {
  font-size: 1.3rem;
  transition: 1s;
  margin-bottom: 20px;
}
.learn-content:hover > .learn-p:last-child {
    padding-bottom: 10px;
}

.learn-content:hover > #small-kb-wrapper {
  display: flex;
}

.learn-content:hover .learn-img {
  width: 300px;
  height: 120px;
}

.learn-content:hover .learn-block {
  margin-bottom: 20px;
}

.learn-header {
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
}

/* block containing paragraph and text */
.learn-block {
  display: flex;
}

.learn-p {
  text-align: left;
  padding: 0 50px 0;
  transition: .1s;
}

.learn-img {
  transition: 1s;
  width: 0px;
  height: 0px;
  padding: 0 50px 0;
  cursor: pointer;
}

#small-kb-wrapper {
  width: 100px;
  height: 40px;
  display: none;
}


#major-content > .small-kb-container {
  display: block;
  width: 100%;
}
